<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Typing Speed Analyser{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>

    <div class="top-bar">
        <h1>AI Typing Speed Analyser</h1>
        <button>Play</button>
        <button>Settings</button>
    </div>
    <main class="main-wrapper">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>