<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Typing Speed Analyser{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>

    <header class="header">
        <div class="top-bar-container">
            <h1>AI Typing Speed Analyser</h1>
            <div class="top-bar-actions">
                <button class="nav-solid-pill" onclick="window.location.href='/'">Play</button>
                <button class="nav-interactive-btn accent-outline" onclick="window.location.href='/settings'">Settings</button>
            </div>
        </div>
    </header>

    <main class="main-wrapper">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>